### String Formatting

#### ASCII Table: ord() and chr()

A: 65  
a: 97

In [45]:
#demo: ord(char)
print(ord("A"))
print(ord("a"))
print("A"<"a")

uppercase_alphabet="ABCDEFGHIJKLMNOPQRSTUVWXYZ"

for char in uppercase_alphabet:
    print(ord(char),end=",")
    
print()

lowercase_alphabet = uppercase_alphabet.lower()

for char in lowercase_alphabet:
    print(ord(char),end=",")
    
print()    
    


#demo: chr(int)
print(chr(65))
print(chr(97))

65
97
True
65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,
97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,
A
a

#### `str()` function

In [50]:
# demo: str()
print(type(str(99)))
print(str(True))
print(str(True)=="True")

<class 'str'>
True
True

In [52]:
"Hello "+str(19)

'Hello 19'

#### `format()`

In [54]:
# demo: format()

print("{} {} {}".format(1,2,3))

1 2 3

In [55]:
print("{}-some boilerplate text-{}".format(1,2))

1-some boilerplate text-2

In [56]:
print("{} {}".format("First",2))

First 2

In [57]:
print("{0} {1}".format("zero","one"))

zero one

In [58]:
print("{1} before {0}".format("zero","one"))

one before zero

In [59]:
print("{1} before {0}".format("one","zero"))

zero before one

In [63]:
print("{first} {second}".format(first=1,second=2))

1 2

In [64]:
print("{code}           {name}                     {price} ".format(code="brewedcoffee",name="Brewed Coffee",price=110))

brewedcoffee           Brewed Coffee                     110

In [65]:
print("{myplaceholder[0]} {myplaceholder[1]}".format(myplaceholder=["first","second"]))

first second

In [67]:
print("{:>20,.2f}".format(10000.50))

           10,000.50

In [68]:
print(len("{:>20,.2f}".format(10000.50)))

20

In [70]:
print('{:<30}'.format('left aligned'))

left aligned

In [71]:
len('{:<30}'.format('left aligned'))

30